@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 350px;
    min-height: 100vh;
    background: hsl(212, 45%, 89%);
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}


/* parent element of card*/

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 16% 7%;
}


/* card */

.qr-card {
    border: 1px solid;
    border-radius: 20px;
    background: hsl(0, 0%, 100%);
    margin: 10% 3%;
    padding: 5%;
}


/* qr image */

.qr-image>img {
    width: 100%;
    border-radius: 12px;
}


/* description */

.qr-description {
    margin: 6% 0.5%;
}

.qr-description>h1 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0 2.5%;
}

.qr-description>p {
    font-size: 1rem;
    color: grey;
    margin: 3% 0.5%;
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}