@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: hsl(212, 45%, 89%);
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
}


/* parent element of card*/

.container {
    height: 110vh;
    width: 110vw;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}


/* card */

.qr-card {
    width: 18rem;
    border-radius: 20px;
    background: hsl(0, 0%, 100%);
    box-shadow: 1px 5px 10px rgba(141, 139, 139, 0.3), -1px 0 10px rgba(141, 139, 139, 0.1);
    margin: 1rem 0.5rem;
    padding: 1rem;
}


/* qr image */

.qr-image>img {
    width: 100%;
    border-radius: 12px;
}


/* description */

.qr-description {
    margin: 6% 0.5%;
}

.qr-description>h1 {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0 2.5%;
}

.qr-description>p {
    font-size: 0.9rem;
    color: grey;
    margin: 6% 3% 8%;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin: 5% 0;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}